bootstrap-admin==0.4.4
Django==3.0.7
django-admin-sortable2==0.7.6
django-bootstrap3==14.1.0
django-ckeditor==5.9.0
django-compressor==2.4
django-contrib-comments==1.9.2
django-extensions==3.0.2
django-multisite==1.8.0
gunicorn==20.0.4
psycopg2-binary==2.8.5
rcssmin==1.0.6
